@media (max-width:1000px){

    header .container .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        margin-right: 0;
        margin-left: 1rem;
        /* width: 100%; */
        margin-top: 7rem;
    }
    header .container .main .textcont h2{
        font-size: 1rem;
    }
    header .container .main .textcont h2:nth-child(2){
        font-size: 1rem;
    }
    header .container .main .textcont h1{
        font-size: 3.5rem;
    }
}